body {
  background: linear-gradient(to bottom,#ffb464,#ed846d,#e56a7a,#6b5e55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* CAIXA CENTRAL */
.texto {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  width: 300px;
}
.topo{
  text-align: center;
}

/* LOGO */
.logo {
  width: 70px;
  margin-bottom: 5px;
}
.logo-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* TITULO */
.titulo {
  margin: 0;
}

.subtitulo {
  margin: 0;
  color: gray;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  line-height: 2px;
}

/* INPUTS */
input[type="email"],
input[type="password"] {
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
  outline: none;
}

/* LINHA CHECKBOX + LINK */
.opcao-login {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}


/*BOTÃO*/
.botao{
  height: 35px;
  border-radius: 20px;
  border: none;
  background: #e56a7a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background: #d45565;
}

/* =========================================================
   TOAST
========================================================= */

#toast-container{

  position:fixed;

  top:20px;
  right:20px;

  display:flex;
  flex-direction:column;

  gap:12px;

  z-index:99999;
}

.toast{

  min-width:280px;

  padding:16px 20px;

  border-radius:22px;

  color:#fff;

  font-weight:600;

  font-size:15px;

  opacity:0;

  transform:
    translateX(100px);

  transition:.3s;

  box-shadow:
    0 15px 35px rgba(0,0,0,.22);

  border:1px solid rgba(255,255,255,.15);
}

.toast-content{
  display:flex;
  align-items:flex-start;
  gap:12px;
}

.toast-emoji{
  font-size:20px;
  line-height:1;
  margin-top:3px;
}

.toast-text{
  line-height:1.4;
  word-break:break-word;
}

.toast.show,
.toast.mostrar{

  opacity:1;

  transform:
    translateX(0);
}

.toast-sucesso{

  background:
    linear-gradient(
      135deg,
      #2e7d32,
      #43a047
    );
}

.toast-erro{

  background:
    linear-gradient(
      135deg,
      #c62828,
      #e53935
    );
}

.toast-info{

  background:
    linear-gradient(
      135deg,
      #4f8ef7,
      #7aa9ff
    );
}

.toast-aviso{

  background:
    linear-gradient(
      135deg,
      #f57c00,
      #f4a261
    );
}

/* Celular */
@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }
}

/* Tablet */
@media (max-width: 900px) {
    .card {
        flex: 1 1 45%;
    }
}

/* Desktop */
@media (min-width: 901px) {
    .card {
        flex: 1 1 30%;
    }
}
