body {
  background: linear-gradient(to bottom,#ffb464,#ed846d,#e56a7a,#6b5e55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* CAIXA CENTRAL */
.texto {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  width: 300px;
}
.topo{
  text-align: center;
}

/* LOGO */
.logo {
  width: 70px;
  margin-bottom: 5px;
}
.logo-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* TITULO */
.titulo {
  margin: 0;
}

.subtitulo {
  margin: 0;
  color: gray;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  line-height: 2px;
}

/* INPUTS */
input[type="email"],
input[type="password"] {
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
  outline: none;
}

/* LINHA CHECKBOX + LINK */
.opcao-login {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}


/*BOTÃO*/
.botao{
  height: 35px;
  border-radius: 20px;
  border: none;
  background: #e56a7a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background: #d45565;
}

/* Celular */
@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }
}

/* Tablet */
@media (max-width: 900px) {
    .card {
        flex: 1 1 45%;
    }
}

/* Desktop */
@media (min-width: 901px) {
    .card {
        flex: 1 1 30%;
    }
}
